build/
.build/
.mdl/tmp/

*.tasb
*.tas.dot
*.tas.dot.png

*.tx.dot
*.tx.dot.png

*.ussb
*.uss.dot
*.uss.dot.png

*.clsb
*.cls.dot
*.cls.dot.png

*.mesb
*.mes.dot
*.mes.dot.png

*.obsb
*.obs.dot
*.obs.dot.png

*.glsb
*.gls.dot
*.gls.dot.png

*.pesb
*.pes.dot
*.pes.dot.png

*.scsb
*.scs.dot
*.scs.dot.png

*.svg

_ARCHIVES/
.venv/
.mdls/

# Python / Jython

*$py.class
*.py[cod]
__pycache__/

# PyCharm
.idea/*
