build/
*.tx.dot
*.tx.dot.png

*.glsb

*.ussb

*.clsb

*.mesb
*.mes.dot
*.mes.dot.png

*.obsb
*.obs.dot
*.obs.dot.png

*.pesb

*.stsb

*.scsb



_ARCHIVES/
.venv/
.mdls/

# Python / Jython

*$py.class
*.py[cod]
__pycache__/

# PyCharm
.idea/*
