typing
textX

#------ optional packages -----------------------
graphviz
nose                 # for testing
sphinx               # for generating docs/.build
sphinx_rtd_theme     # for generating docs/.build

ipython              # for use in pycharm for instance
