//=========================================================================
//                      Modele de cas d'utilisation
//-------------------------------------------------------------------------
// This usecase model is expressed in UsecaseScript
// See https://modelscript.rtfd.io/en/latest/languages/usecases/index.html
//=========================================================================

usecase model XXX-CASESTUDY
import glossary model from "../../concepts/glossaires/glossaires.gls"
