    //@Issue us.syn.Actor.NoSuper 1
    //@Issue cck.Actor.LazyActorChecker 2
    //@Issue cck.System.UsecaseLimitsChecker 1
    //@Issue level *

usecase model Us_actor06

actor Employe
actor Manager < Nobody
