//=========================================================================
//                      Usecase model
//-------------------------------------------------------------------------
// This usecase model is expressed in UsecaseScript
// See https://modelscript.rtfd.io/en/latest/scripts/usecases/index.html
//=========================================================================

usecase model XXX-CASESTUDY
import glossary model from "../glossaries/glossaries.gls"
import participant model from "../participants/participants.pas"