    #@Issue cck.Actor.LazyActorChecker 4
    #@Issue cck.System.UsecaseLimitsChecker 1
    #@Issue level *

usecase model Us_Actor04

human actor Employee

system actor CyberTFR

actor NoKindActor

actor Manager < Employee