    # two text blocks

    #@Issue src.syn 1
    #@Issue level *


usecase model Us_doc03
    | some doc comment for the model
    | with various lines
    | and more ...

    | This is a separated text block.
    | So an error is produced