    //@Issue cck.UsecaseModel.ActorLimitsChecker 1
    //@Issue cck.System.UsecaseLimitsChecker 1
    //@Issue level *

usecase model Us_doc01
    | some doc comment
    | with various lines
    | and more ...

