usecase model


interactions
    Employe Inscrire
    Employe RetirerUnItem
    Employe PrendreUnItem
    Internaute RetirerUnItem
    Internaute ConsulterLesItems

actor Employe

usecase Inscrire



