    #@Issue cck.Actor.LazyActorChecker 1
    #@Issue cck.Usecase.UnusedUsecaseChecker 1
    #@Issue level *

usecase model Us_interactions03


interactions
    Employe Inscrire
    Employe RetirerUnItem
    Employe PrendreUnItem
    Internaute RetirerUnItem
    Internaute ConsulterLesItems

actor Employe
actor Nobody

usecase DoNothing

