    #@Issue cck.Actor.LazyActorChecker 2
    #@Issue cck.System.UsecaseLimitsChecker 1
    #@Issue cck.Usecase.UnusedUsecaseChecker 1
    #@Issue level *

usecase model Us_text01
    | This is a description with
    | `Nothing` and `Something`

actor Manager
    | This is a description with
    | `Nothing` and `Two`

actor Employee
    | Yet another `Nothing` and `Two`

usecase IncreaseSalary
    | Text for the `Ǹothing`
    | With a second line.

