    //@Issue cck.UsecaseModel.ActorLimitsChecker 1
    //@Issue cck.Usecase.UnusedUsecaseChecker 3
    //@Issue level *

usecase model Us_usecase01

usecase RentACar
usecase RentTwoCar

usecase FindADirection